
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#cdc {
  font-weight: 200;
  margin-bottom: 0;
}
/* nav links */
nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* Arise and be doing, and the LORD be with thee. I Chron 22:16 */

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  /* add  after var() to overide bootstrap */
  color: var(--primary-white);
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* These rules may make above rules redundant */
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* .navbar-toggler {
  color: var(--primary-blue);
  border-color: var(--primary-blue);
} */

/* .navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.1rem;
} */

.navbar-toggler span {
  display: block;
  background-color: var(--primary-blue);
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
