
/* Arise and be doing, and the LORD be with thee. I Chron 22:16 */

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#cdc {
  font-weight: 200;
  margin-bottom: 0;
}

/* nav links */
nav a.nav-link {
  cursor: pointer;
}

.nav-item {
  text-align: center;
}


.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-toggler span {
  display: block;
  background-color: var(--primary-blue);
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
