
.main {
  padding: 0.625rem;
  margin: 4.5rem auto;
}

.heading {
  font-size: 3rem;
  margin-top: 1.875rem;
  margin-bottom: -0.875rem;
}

.typed-text {
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 4.3rem;
  padding-left: 1.875rem;
}