.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-white: #fff;
  --primary-orange: #ba6c47;
  --primary-blue: #00b4e2;
  --primary-grey: #6b6d72;
}

/* @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Orbitron&display=swap");

body {
  font-family: "Orbitron", sans-serif;
}
/* Navbar */

/* logo font is orbitron */
.logo {
  width: 16.25rem;
}

/* nav links */
nav a.nav-link {
  /* font-weight: 500; */
  /* letter-spacing: 0.0375rem; */
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

nav ul li {
  text-transform: uppercase;
}

/* Arise and be doing, and the LORD be with thee. I Chron 22:16 */
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  /* add  after var() to overide bootstrap */
  color: var(--primary-white);
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* These rules may make above rules redundant */
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-toggler {
  color: var(--primary-blue);
  border-color: var(--primary-blue);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.1rem;
}

/**************************** Header ***********************************/

.header-wrapper {
  position: relative;
  background: url(webDev1.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

.main-info h1 {
  color: var(--primary-orange);
  /* text outline from https://stackoverflow.com/questions/4919076/outline-effect-to-text answer 5 and added  -webkit-font-smoothing: antialiased;*/
  text-shadow: -1px -1px 0 var(--primary-white), 0 -1px 0 var(--primary-white),
    1px -1px 0 var(--primary-white), 1px 0 0 var(--primary-white),
    1px 1px 0 var(--primary-white), 0 1px 0 var(--primary-white),
    -1px 1px 0 var(--primary-white), -1px 0 0 var(--primary-white);
  -webkit-font-smoothing: antialiased;
}

/* For integrated console use Ctrl+` */

/* .outlined {
  color: white;
  text-shadow:
    -1px -1px 0 var(--primary-white),
     0   -1px 0 var(--primary-white),
     1px -1px 0 var(--primary-white),
     1px  0   0 var(--primary-white),
     1px  1px 0 var(--primary-white),
     0    1px 0 var(--primary-white),
    -1px  1px 0 var(--primary-white),
    -1px  0   0 var(--primary-white);
} */

/* ********************** SVG Experiment **************************** */
svg {
  /* font   : bold 70px Century Gothic, Arial; */
  font-family: "Orbitron", sans-serif;
  width: 100%;
  /* height : 120px; */
}

text {
  fill: var(--primary-orange);
  /* stroke          : black; */
  stroke: var(--primary-white);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  /* animation       : 2s pulsate infinite; */
}

@keyframes pulsate {
  50% {
    stroke-width: 5px;
  }
}

/* **************************** typed text **************************** */

/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap'); */

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  font-family: "Inconsolata", monospace; /* -webkit-font-smoothing: antialiased; */
}

/* .tsparticles-canvas-el {
  position: fixed;
  height: 100vh;
  width: 100vh;
  z-index: 1;
  background: #222
} */

#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
